<%= image_tag('919c944731284b1b0e8eb6ff676f0dd5_m.jpg', class:"w-100 h-50 p-0" )%>
    <div class="container">
<h2 class="text-center my-5 pt-5"><span class="text-muted border-bottom border-dark pb-2">NEWS</span></h2>
<p class = "pb-2 border-bottom">2018年12月16日  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class = " text-muted">ホームページを開設しました</span></p>

<h2 class="text-center my-5 pt-5"><span class="border-bottom border-dark pb-2 text-muted">MISSION</span></h2>
<h2 class="text-center mt-5">Provide maximum value</h2>
<p  class="text-center">最大限の価値を提供します</p>

<h2 class="text-center my-5 pt-5"><span class="border-bottom border-dark pb-2 text-muted">WORK</span></h2>
<div class="row">
    <div class="col-lg-4 col-sm-12"><img src="http://icooon-mono.com/11001-%e5%8b%95%e7%94%bb%e5%86%8d%e7%94%9f%e3%83%9c%e3%82%bf%e3%83%b32/"></div>
    <div class="col-lg-4 col-sm-12"></div>
    <div class="col-lg-4 col-sm-12"></div>
</div>

<h2 class="text-center my-5 pt-5"><span class="text-muted border-bottom border-dark pb-2">RECRUIT</span></h2>
<h4 class="text-center my-5 pt-5 text-muted">現在、募集しておりません</h4>



<form>
    <h2 class="text-center my-5 pt-5"><span class="text-muted border-bottom border-dark pb-2">CONTACT</span></h2>
    <table class="table table-bordered table-striped table-contactform7">
        <%= form_for(controller_path) do |f| %>
    <tr>
        <th><span class="required-contactform7 bg-danger p-2 mr-2 text-light">必須</span><span class="title-contactform7">お名前</span></th>
        <td><%= f.text_field :name , placeholder: "お名前", class: 'form-control', rows:4%></td>
    </tr>
    
    <tr>
        <th><span class="required-contactform7 bg-danger p-2 mr-2 text-light">必須</span>メールアドレス</th>
        <td><%= f.email_field :email, class: 'form-control', rows:4, placeholder: "メールアドレス"%></td>
    </tr>
    <!--, class:"form-control",placeholder="Eメールアドレス"-->
    <tr>
        <th><span class="required-contactform7 bg-danger p-2 mr-2 text-light">必須</span>内容</th>
        <td>
            <label><input type="radio" name="radio">求人応募&nbsp;&nbsp;&nbsp;</label>
            <label><input type="radio" name="radio">WEB作成&nbsp;&nbsp;&nbsp;</label>
            <label><input type="radio" name="radio">マーケティング&nbsp;&nbsp;&nbsp;</label>
        </td>
    </tr>
    <tr>
        <th><span class="bg-danger p-2 mr-2 text-light">必須</span><span class="title-contactform7"></span>メッセージ</th>
        <td><%= f.text_area :description, class: 'form-control', rows:4, cols:5, placeholder: "メッセージ" %></td>
    </tr>
    </table>
     <p class="text-center"><%= f.submit "送信する", class: "btn btn-primary mb-4 btn-lg mt-3" %></p>
    <% end %>
</form>
</div>