<!DOCTYPE html>
<html>
  <head>
    <title>SelfPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-topp-3 mb-0 bg-dark text-white p-4">
      <div class="container">
        <%= link_to "Weel", root_path, id: "logo", class: "text-white border-0" %>
        <nav>
          <ul class="nav list-inline ">
            <li class="list-inline-item "><%= link_to "BLOG",'https://sugurun.hatenablog.com/', class: "text-white" %></li>
            <li class="list-inline-item pl-4"><%= link_to "ABOUT",   about_path , class: "text-white"%></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
<footer class="bg-dark py-5">
    <div class="footer_logo">
      <a href=""></a>     
    </div>
    <div class="copy text-center">
        <span class="text-white-50">Copyright © 2018 Weel Inc. Official Web Site.</span>
    </div>
</footer>
  </body>
</html>
